
services:
  rag-api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    # Konteynerın herhangi bir hata durumunda otomatik yeniden başlamasını sağlar
    restart: always
